<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clientes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
    <meta name="description" content="Gestión de datos de clientes para el sistema de vacunación de mascotas" />
  </head>
  <body>
    <header>
      <h1>Bienvenido a Clientes</h1>
    </header>
    
    <main>
      <section>
        <p>En esta página puedes gestionar tus datos como cliente.</p>
      </section>
    </main>
    
  </body>
</html>
